[submodule "RC-exploiter"]
	path = RC-exploiter
	url = https://github.com/TomasGlgg/RC-exploiter.git
[submodule "badKarma"]
	path = badKarma
	url = https://github.com/r3vn/badKarma.git
[submodule "xerosploit"]
	path = xerosploit
	url = https://github.com/LionSec/xerosploit.git
[submodule "Sn1per"]
	path = Sn1per
	url = https://github.com/1N3/Sn1per.git
[submodule "TheFatRat"]
	path = TheFatRat
	url = https://github.com/Screetsec/TheFatRat.git
[submodule "lscript"]
	path = lscript
	url = https://github.com/arismelachroinos/lscript.git
[submodule "SET"]
	path = SET
	url = https://github.com/trustedsec/social-engineer-toolkit
[submodule "scapy"]
	path = scapy
	url = https://github.com/secdev/scapy.git
[submodule "BeeLogger"]
	path = BeeLogger
	url = https://github.com/4w4k3/BeeLogger
[submodule "RouterSploit"]
	path = RouterSploit
	url = https://github.com/threat9/routersploit.git
[submodule "fluxion"]
	path = fluxion
	url = https://github.com/FluxionNetwork/fluxion
[submodule "enumeration"]
	path = enumeration
	url = https://github.com/TomasGlgg/enumeration
[submodule "WiFi-Pumpkin"]
	path = WiFi-Pumpkin
	url = https://github.com/P0cL4bs/WiFi-Pumpkin
[submodule "pupy"]
	path = pupy
	url = https://github.com/n1nj4sec/pupy.git
