[submodule "RC-exploiter"]
	path = RC-exploiter
	url = git@github.com:TomasGlgg/RC-exploiter.git
[submodule "badKarma"]
	path = badKarma
	url = https://github.com/r3vn/badKarma.git
[submodule "xerosploit"]
	path = xerosploit
	url = https://github.com/LionSec/xerosploit.git
[submodule "Sn1per"]
	path = Sn1per
	url = https://github.com/1N3/Sn1per.git
[submodule "TheFatRat"]
	path = TheFatRat
	url = https://github.com/Screetsec/TheFatRat.git
[submodule "lscript"]
	path = lscript
	url = https://github.com/arismelachroinos/lscript.git
[submodule "SET"]
	path = SET
	url = https://github.com/trustedsec/social-engineer-toolkit
[submodule "scapy"]
	path = scapy
	url = https://github.com/secdev/scapy.git
[submodule "BeeLogger"]
	path = BeeLogger
	url = https://github.com/4w4k3/BeeLogger
[submodule "RouterSploit"]
	path = RouterSploit
	url = https://github.com/threat9/routersploit.git
